@model SaleAd
<div class="d-flex flex-column align-items-center">
    <div class="container w-auto border rounded-1">
       <div class="row mx-auto row-cols-3">
           @foreach (var item in Model.SaleAdImages)
            {
                <div class="my-2" style="min-height:140px;min-width:200px;max-height:140px;max-width:200px">
                    <img style="object-fit: cover;" src="@item.Image.Url" class="h-100 w-100 rounded-start">
                </div>
            }
        </div>
    </div>
    <div class="d-flex flex-column m-3 gap-2 w-75">
        <div class="d-flex justify-content-between">
            <span class="fw-bold">Дата оголошення:</span>
            <span>@Model.Date.ToShortDateString()</span>
       
        </div>
        <div class="d-flex justify-content-between">
            <span class="fw-bold">Ім'я продавця:</span>
            <span>@Model.SellerName</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="fw-bold">Категорія:</span>
            <span>@Model.Category.Name</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="fw-bold">Місто:</span>
            <span>@Model.City.Name</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="fw-bold">Ціна:</span>
            <span>@Model.Price гр.</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="fw-bold">Стан:</span>
            @if (@Model.IsNew)
            {
                <span>Нове </span>
            }
            else
            {
                <span>Вживане </span>
            }

        </div>
        <div class="d-flex flex-column">
            <span class="fw-bold">Заголовок:</span>
            <div class="p-2 border rounded-1">
                <span>@Model.Title</span>
            </div>
        </div>

        <div class="d-flex flex-column">
            <span class="fw-bold">Опис:</span>
            <div class="p-2 border rounded-1">
                <span>@Model.Description</span>
            </div>
        </div>
        
    </div>
</div>
