@model Advert[]
@{
    ViewData["Title"] = "Admin";
}
<meta charset="utf-8" />
<table class="table table-striped  table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ім'я продавця</th>
            <th scope="col">Місто</th>
            <th scope="col">Категорія</th>
            <th scope="col">Дата</th>
            <th scope="col">Опис</th>
            <th scope="col">Ціна</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>@item.Id</td>
                <td>@item.SellerName</td>
                <td>@item.City.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Title</td>
                <td>@item.Price</td>
                <td><button onclick="Func_LoadPv(@item.Id)" type="button" data-bs-toggle="modal" data-bs-target="#infoModal" class="btn btn-success btn-sm">Інфо</button></td>
                <td><button onclick="setId(@item.Id)" type="button" data-bs-toggle="modal" data-bs-target="#infoModal" class="btn btn-danger btn-sm">Видалити</button></td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal info -->
<div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <a class="btn btn-danger">Видалити</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>


<script@* src="~/js/admin_index_script.js "*@>
    function setModalContent(isConfirm) {
        $modalDialog = $('#infoModal .modal-dialog');
        $modalBody = $("#infoModal div .modal-body");
        $dellButton = $('#infoModal .modal-footer .btn-danger');
        $cancelButton = $('#infoModal .modal-footer .btn-secondary');
        $modalTitle = $('#infoModal .modal-title');
        $modalBody.empty();
        if (isConfirm) {
            $modalDialog.removeClass('modal-lg');
            $dellButton.removeClass('d-none');
            $cancelButton.text('Скасувати');
            $modalTitle.text('Видалення');
            $modalBody.text('Ви впевнені що хочете видалити обраний елемент?');
        }
        else {
            $modalDialog.addClass('modal-lg');
            $dellButton.addClass('d-none');
            $cancelButton.text('Закрити');
            $modalTitle.text('Інформація про оголошення');
        }
    }

    function Func_LoadPv(item) {
        setModalContent();
        $.get("/Admin/ShowPartialView?id=" + item, function (res) {
            let $modalBody = $("#infoModal div .modal-body");
            $modalBody.append(res);
        });
    }

    function setId(id) {
        setModalContent(true);
        $('#infoModal a').attr('href', '/Admin/DeleteElement/' + id);
    }
</script>






