@model IEnumerable<AdvertDto>
<div class="card text-center">
    <div class="card-header">
        Обрані оголошення
    </div>
    <div class="card-body">
        <ul class="list-group">
            @if (Model.Count() > 0)
            {
                @foreach (var i in Model)
                {
                    <li class="mb-3 p-2 border rounded-2 d-flex justify-content-between align-items-center">
                        <div class="d-flex gap-2 align-items-center">
                            <div title="<img class='w-100' src='@i.FirstImage'/>" data-bs-toggle="tooltip" data-bs-html="true" style="height:60px;width:80px" class="rounded-1" data-bs-placement="right">
                                <img style="object-fit:cover" src=@i.FirstImage class="h-100 w-100 p-0 border rounded-1" />
                            </div>
                            <a asp-action="ShowAdvert" cursor:="pointer" asp-route-id="@i.Id" class="text-muted text-decoration-none">@i.Title</a>
                        </div>
                        <span class="badge bg-primary p-2 rounded-pill">@i.Price гр.</span>
                    </li>
                }
            }
            else
            {
                <li class="fs-4 list-group-item">Не обрано жодного оголошення</li>
            }
        </ul>
    </div>
    <div class="card-footer text-muted">
        Загальна ціна: @Model.Sum(x => x.Price)гр.
    </div>
</div>



