@inject IConfiguration Configuration﻿

@model AdvertDto
@{
    string url = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}/{Configuration["UserImgDir"]}/").AbsoluteUri;
}

<div class="col">
    <div class="card h-100">
        <a asp-controller="Home"
           asp-action="ShowAdvert"
           asp-route-id="@Model.Id"
           asp-route-returnUrl="@Context.Request.Path">
            <img src="@(url+@Model.FirstImage)" class="card-img-top" alt="Image Url">
        </a>
        <div class="card-body">
            <h5 class="card-title">
                <a class="title-link"
                   asp-controller="Home"
                   asp-action="ShowAdvert"
                   asp-route-id="@Model.Id"
                   asp-route-returnUrl="@Context.Request.Path">
                    @Model.Title
                </a>
            </h5>
            <p class="card-text">
                @Model.Price$<br />
                @Model.CategoryName
            </p>
        </div>
        <div class="card-footer">
            <span class="badge @(Model.IsNew ? "bg-success" : "bg-secondary")  p-2">@(Model.IsNew ? "Нове" : "Вживане")</span>
        </div>
    </div>
</div>
