@using ASP.NET_OLX.Services.Interfaces
@inject IFavouriteService favouriteService
@model AdvertDto


<div class="col">
    <div class="card h-100">
        <a asp-controller="Home"
           asp-action="ShowAdvert"
           asp-route-id="@Model.Id"
           asp-route-returnUrl="@Context.Request.Path">
            <img src="@Model.FirstImage" class="card-img-top" alt="Image Url">
        </a>
        <div class="card-body">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <h5 class="card-title">
                        <a class="title-link"
                           asp-controller="Home"
                           asp-action="ShowAdvert"
                           asp-route-id="@Model.Id"
                           asp-route-returnUrl="@Context.Request.Path">
                            @Model.Title
                        </a>
                    </h5>
                    <p class="card-text">
                        @Model.Price$<br/>
                        @Model.CategoryName
                    </p>
                    @if (!User.Identity.IsAuthenticated || !User.IsInRole("Admin"))
                    {
                        <span onclick="setFavourite(@Model.Id)" id="@Model.Id" class="cur-pointer mb-3 material-icons">@(await favouriteService.IsFavourite(@Model.Id) ? "favorite" : "favorite_border")</span>
                    }
                </div>
                <small class="text-muted">@Model.SellerName @Model.CityName @Model.Date.ToShortDateString() @Model.Date.ToShortTimeString() </small>
            </div>
        </div>
        <div class="card-footer">
            <div class="badge @(Model.IsNew ? "bg-success" : "bg-secondary") p-2">@(Model.IsNew ? "Нове" : "Вживане")</div>
        </div>
    </div>
</div>

